    <div id="up-to-top" class="row">
      <div class="small-12 columns" style="text-align: right;">
        <a class="iconfont" href="#top-of-page">&#xf108;</a>
      </div><!-- /.small-12.columns -->
    </div><!-- /.row -->


    <footer id="footer-content" class="bg-grau">
      <div id="footer">
        <div class="row">
          <div class="medium-6 large-5 columns">
            <h5 class="shadow-black">Our other sites</h5>
            <ul class="no-bullet">
              <li><a href="http://fonz.tridentsystems.co.nz">FISHERIES OF NEW ZEALAND</a></li>
            </ul>
            <!-- <h5 class="shadow-black">{{ site.data.language.info_website }}</h5> -->
            <img src="{{ site.url }}{{ site.baseurl }}/assets/img/cc.png"><img src="{{ site.url }}{{ site.baseurl }}/assets/img/by.png">
            </a>The text content of this website is copyright Trident Systems LP, and is <a href= "https://github.com/trident-systems/trident-systems.github.io/blob/master/LICENSE">licensed for reuse</a>.
          </div><!-- /.medium-6.large-5.columns -->

          <div class="small-12 medium-6 large-6 large-offset-1 columns">
            <div class="row">
              <div class="small-9 column">
                <h5 class="shadow-black">CONTACT US</h5>
                <ul class="no-bullet">
                  <li>info@tridentsystems.co.nz</li>
                  <li>+64 4 385 4005</li>
                </ul>
              </div>
              <div class="small-3 column">
                <img src="{{ site.url }}{{ site.baseurl }}/assets/img/logo_round.png">
              </div>
            </div>
            <div class="row">
              <div class="small-6 column">
                <ul class="no-bullet">
                  <li>Postal address:</li>
                  <li>Trident Systems LP</li>
                  <li>PO Box 297</li>
                  <li>Wellington 6140</li>
                  <li>New Zealand</li>
                </ul>
              </div>
              <div class="small-6 column">
                <ul class="no-bullet">
                  <li>Physical address:</li>
                  <li>Level 6, 135 Victoria Street</li>
                  <li>Wellington 6011</li>
                  <li>New Zealand</li>
                </ul>
              </div>
            </div>
          </div><!-- /.large-4.columns -->


        </div><!-- /.row -->

      </div><!-- /#footer -->


    </footer>
