<aside>
	<div class="panel radius">
		<h3>Trident's mission</h3>
		<p>
			Trident Systems provides high quality fisheries research services in support of effective and efficient management of New Zealand fisheries.

			<i>Kia kotahi te hoe</i>
		</p>
	</div>

  <img class="b30" src="/images/trident-fonz-box.jpg" alt="">


	<!-- <div class="border-dotted radius b30">
		<img src="http://placekitten.com/271/270" alt="uh, Placekitten">
		<p class="text-left">
			This is an advertisment with a crazy cat! <a href="http://placekitten.com/">More cats, please!</a>
		</p>
	</div> -->
</aside>
